{% extends '/admin/layout/layout.twig' %}

{% block content %}
 <div class="container-fluid" style="height: 100%;">
        <form  method="POST"  style="height: 100%; width: 100%;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="row " style="height: 100%;">
                <div class="col-md-4 text-center" style="background: #11101d;position: relative; color: white;">
                    <div class="login_form_job_name">
                        <span style="">{{ PROJECT_NAME|default('') }}</span>
                    </div>
                    <div class="login_form_page_name">
                        <span style="">Logowania do panelu admina</span>
                    </div>
                </div>

                <div class="col-md-8" style="position: relative;">
                    <div class="login_form_box">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                      
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" name="_username" class="form-control" placeholder="Email" aria-label="Username" value="{{ _username|default('') }}" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-4">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </span>
                            <input type="password" name="_password" class="form-control" placeholder="Hasło" aria-label="Password" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" name="_remember_me" id="remember_me" {% if _remember_me|default(false) %} checked {% endif %}>
                                <label class="form-check-label" for="_remember_me">Logowanie automatyczne przy następnej próbie logowania.</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <button type="submit" class="btn btn-primary col-sm-3">Zaloguj się</button>
                        </div>
                    </div>
                </div>
            </div>
         </form>
    </div>
{% endblock %}